.Rapp.history
.RData
.Rhistory
.Rproj.user
.csv
.log
last.dump.rda
cache/
figure/
man/spadesEnv.Rd
myModule.md
output/
src/*.o
src/*.so
src/*.dll
src-*/
tests/testthat/*.pdf
tests/testthat/*.RData
vignettes/.build.timestamp
vignettes/*_cache

#################
## LaTeX
#################
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

dbHash\.sqlite
