# DO NOT CHANGE the "init" and "install" sections below

# Download script file from GitHub
init:
  ps: |
        $ErrorActionPreference = "Stop"
        Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
        Import-Module '..\appveyor-tool.ps1'

install:
  ps: Bootstrap

cache:
  - C:\RLibrary

# Adapt as necessary starting from here

version: 1.0.{build}-{branch}

environment:
  global:
    R_ARCH: x64
    USE_RTOOLS: true
    WARNINGS_ARE_ERRORS: 1

  matrix:
  - R_VERSION: devel

  - R_VERSION: release

  - R_VERSION: oldrel
    RTOOLS_VERSION: 33

  - R_VERSION: 3.3.0
    RTOOLS_VERSION: 33

branches:
  only:
    - master
    - development

  except:
    - gh-pages

clone_depth: 5

build_script:
  - travis-tool.sh r_binary_install archivist chron CircStats covr data.table DEoptim DiagrammeR digest dplyr DT fastmatch fastshp ff ffbase fpCompare ggplot2 gridBase httr igraph knitr lazyeval lubridate Matrix miniUI png RandomFields raster RColorBrewer rgdal rgenoud rmarkdown rstudioapi R.utils shiny snow sp stringi tcltk testthat tkrplot
  - travis-tool.sh install_deps

test_script:
  - travis-tool.sh run_tests

on_failure:
  - 7z a failure.zip *.Rcheck\*
  - appveyor PushArtifact failure.zip

artifacts:
  - path: '*.Rcheck\**\*.log'
    name: Logs

  - path: '*.Rcheck\**\*.out'
    name: Logs

  - path: '*.Rcheck\**\*.fail'
    name: Logs

  - path: '*.Rcheck\**\*.Rout'
    name: Logs

  - path: '\*_*.tar.gz'
    name: Bits

  - path: '\*_*.zip'
    name: Bits

notifications:
 - provider: Email
   to:
     - alex.chubaty@gmail.com
   subject: 'SpaDES: r-appveyor build {{status}}'
   message: "https://ci.appveyor.com/project/achubaty/SpaDES"
   on_build_success: false
   on_build_failure: false
   on_build_status_changed: true
