export("agentHeading<-")
export("agentID<-")
export("agentPosition<-")
export("currentTime<-")
export("sim.debug<-")
export("sim.events<-")
export("sim.loaded<-")
export("sim.modules<-")
export("sim.params<-")
export("sim.times<-")
export("startTime<-")
export("stopTime<-")
export(GaussMap)
export(ProbInit)
export(adj)
export(agentHeading)
export(agentID)
export(agentPosition)
export(arrow)
export(check.path)
export(cir)
export(crw)
export(currentTime)
export(do.event)
export(dosim)
export(getOther)
export(heading)
export(load.packages)
export(newPlot)
export(plot2dev)
export(reload.module.later)
export(ring.probs)
export(schedule.event)
export(setOther)
export(sim.debug)
export(sim.events)
export(sim.init)
export(sim.loaded)
export(sim.modules)
export(sim.params)
export(sim.times)
export(simplot)
export(spec.num.per.patch)
export(spread)
export(startTime)
export(stopTime)
exportClasses(SimList)
exportClasses(agent)
exportClasses(mobileAgent)
exportClasses(pointAgent)
exportClasses(polygonAgent)
exportClasses(rasterAgent)
exportClasses(spreadAgent)
exportClasses(vectorAgent)
exportMethods(coordinates)
exportMethods(head)
exportMethods(initialize)
exportMethods(length)
exportMethods(points)
exportMethods(show)
exportMethods(simplot)
import(CircStats)
import(RandomFields)
import(data.table)
import(graphics)
import(grid)
import(raster)
import(sp)
